// @import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap/scss/bootstrap';


$primary: #9d4edd;
$primary-emphasis: #7678ed;
$navbar-bg: $primary;

.bg-primary {
    background-color: $primary !important;
}

.text-primary {
    color: $primary !important;
}
.text-primary:hover {
    color: $primary-emphasis !important;
}